<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #ececec;
            font-family: "SF Pro Display", Arial, sans-serif;
            font-size: 20px;
            font-weight: 400;
        }

        .card {
            align-items: center;
            border-radius: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-top: 30px;
        }
      
       .btn {
            height: 70px;
            border-radius: 20px;
            font-size: 24px;
            font-weight: 600;
            background-color: #ff9500;
            border-color: #ff9500;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .btn:hover {
            background-color: #ffad33;
            border-color: #ffad33;
        }
        
        .result-container {
            margin-top: 30px;
        }
        
        .result {
            font-size: 36px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
        }

        .category {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
        }
       
        .fas {
            font-size: 4em;
        }

        .icon-style {
            display: block;
            margin: 0 auto;
        }

    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="result-container">
                            <% if (!weight || !height) { %>
                                <div style="text-align: center;">
                                <p>Sorry, please enter values for both weight and height.</p>
                                </div>
                            <% } else { %>
                                <p class="result">Your BMI is <%= result %></p>
                                <% if (category == "Normal") { %>
                                <div style="text-align: center;">
                                    <i class="fas fa-circle" style="color: green;"></i>
                                </div>
                                <% } else if (category == "Overweight" || category == "Skinny") { %>
                                <div style="text-align: center;">
                                    <i class="fas fa-circle icon-style" style="color: red"></i>
                                </div>
                                <% } else { %>
                                <div style="text-align: center;">
                                    <i class="fas fa-circle icon-style" style="color: orange"></i>
                                </div>
                                <% } %>
                            <p class="category"><%= "You are " + category %></p>
                            <% } %>
                        </div>
                         <a href="/"> <button type="submit" class="btn btn-primary btn-block">Calculate again</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
